body{background-color: black;}

.titlu{color: white;
    font-weight: lighter;
    text-transform: uppercase;
    font-family: "Libre Baskerville", serif;}

.div{
    width: 50%; 
    margin-left: 25%;
    margin-top: 100px;
    color: white;
    font-family: "Libre Baskerville", serif;
    text-align: center;
}





.picture{
    border: 5px solid white;
    width: 100%;
  
}